.header {
    background-color: #323336;
}

.sign_in {
    float: right;
    margin-top: 30px;
    background-color: #5E5E5E;
    color: white;
    opacity: .9;
    border: #5E5E5E;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}

.login {
    float: right;
    margin-top: 35px;
}
