.container {
    width: 100%;
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

p, h2, h3, h4, h5 {
    color: white;
}

.main {
    background-color: #222327;
}

body {
    background-color: #222327;
}


.wrapper {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}