.user_avatar {
    width: 90px;
    border-radius: 50%;
}

.user_block {
    display: flex;
    margin-top: 35px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(178, 175, 175, 0.82);
}

.user_block:first-child {
    margin-top: 30px;
}

.user_left {
    text-align: center;
}

.user_right {
    margin-top: -15px;
    margin-left: 40px;
}

.user_name {
    font-size: 23px;
}

.user_status {
    font-size: 18px;
    color: white;
    opacity: .7;
}

.user_location {
    font-size: 18px;
    margin-top: 25px;
}

.user_follow {
    width: 140px;
    background-color: #5E5E5E;
    color: white;
    opacity: .9;
    border: #5E5E5E;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
    float: right;
}

.user_more {
    float: none;
    margin-left: 205px;
    margin-bottom: 50px;
    background-color: #5E5E5E;
    color: white;
    opacity: .9;
    border: #5E5E5E;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.loading {
    margin: 0 auto;
}
